<div class="modal-header modal-header-t">
    <h4 class="modal-title">Activar / Desactivar Pileta</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cerrar')">
        <i class="fa fa-window-close" style="color: white" aria-hidden="true"></i>
   </button>
</div>

<div class="modal-body">
    ¿Estás seguro que quieres activar / desactivar pileta?
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="accept()">Borrar</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('Cerrar')">Cancelar</button>
</div>