<div class="modal-header modal-header-t">
        <h4 class="modal-title">Cambiar Estado Pileta</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cerrar')">
            <i class="fa fa-window-close" style="color: white" aria-hidden="true"></i>
       </button>
    </div>
    
    <div class="modal-body">
        ¿Desea cambiar el estado de esta pileta a <strong>{{estado}}</strong> ?
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="accept()">Cambiar Estado</button>
        <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('Cerrar')">Cancelar</button>
    </div>